.group-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.25);
}

.group-container-group{
    display: flex;
    flex-direction: column;

}

.count-price{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -5px;
    height: 45px;
}

.cancel{
    padding: 0 3px;
    margin-bottom: 10px;
    width: fit-content;
    cursor: pointer;
}

h6{
    color: hsl(14, 86%, 42%);
    font-size: 16px;
    font-weight: 600;
}

.fa-icon{
    stroke: white;
    stroke-width: 25px;
    cursor: pointer;
}

.fa-icon:hover{
    stroke-width: 0px;
}