/*.product-grid-cell{
    gap: 20px;
}*/

img{
    width: 100%;
    border-radius: 10px;
}

.fa-icons{
    height: 20px;
    width: fit-content;
}

.add-to-cart{
    background-color: white;
    color: black;
    font-weight: 600;
    border: 1px solid hsl(14, 65%, 9%);
    padding: 10px 17px;
    position: relative;
    bottom: 25px;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.manual-increase, .add-to-cart:hover{
    border: 1px solid hsl(14, 86%, 42%);
    cursor: pointer;
}

.manual-increase{
    background-color: hsl(14, 86%, 42%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 8px 15px;
    position: relative;
    bottom: 25px;
    left: 25%;
}

.decrease, .increase{
    border-radius: 60%;
    color: hsl(20, 50%, 98%);
    border: 1px solid hsl(20, 50%, 98%);
    display: flex;
    align-items: center;
}

.decrease:hover, .increase:hover{
    background-color: hsl(20, 50%, 98%);
}

.decrease:hover img.icon,
.increase:hover img.icon{
    filter: brightness(0) saturate(100%) invert(35%) sepia(91%) saturate(1633%) hue-rotate(352deg) brightness(88%) contrast(92%);
}

h5{
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}

h6{
    margin: -10px 0 5px 0;
    font-weight: 400;
}

.product-grid-cell>p{
    font-size: 12px;
    color: hsl(14, 86%, 42%);
    margin: 5px 0 15px 0;
    font-weight: 600;
}